{% extends "layout.html" %}
{% block content %}
    {% for pos in post %}
        <h1>{{pos.title}}</h1>
        <p>By {{pos.author}} on {{pos.data_posted}} </p>
        <p>{{pos.content}}</p>
    {% endfor %}
{% endblock content%}